{
    "extends": [
      "plugin:react/recommended",
      "plugin:react/jsx-runtime",
      "plugin:prettier/recommended"
    ],
    "plugins": [
      "prettier",
      "import",
      "eslint-plugin-import",
      "react",
      "eslint-plugin-jsx-a11y"
    ],
    "parser": "@babel/eslint-parser",
    "rules": {
      "react/react-in-jsx-scope": "off",
      "no-console": "error",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ],
      "import/order": [
        "error",
        {
          "groups": [
            "builtin",
            "external",
            "internal"
          ],
          "pathGroups": [
            {
              "pattern": "react",
              "group": "external",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": [
            "react"
          ],
          "newlines-between": "always",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ]
    }
  }