@import "variables/variables.scss";

.input-container__close-input {
    left: 340px;
    top: 68px;
    position: relative;
    width: 20px;
    height: 20px;
}

.input__close-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.input__close-input:hover {
    position: absolute;
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container__open-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 37px;
    margin-top: 58px;
}

.input-container__open-input_open {
    top: 65px;
    width: 269px;
    height: 40px;
    background: $color_white;
    border: 1px solid $color_DFE2E4;
    border-radius: 4px;
}

.input-container__cancel {
    cursor: pointer;
    padding-left: 15px;
    @include font('Circular Std', normal, 450, 12px, 15px, $color_343A40);
}

.input-container__cancel:hover {
    transition-duration: 0.2s;
    padding-left: 15px;
    @include font('Circular Std', normal, 450, 12px, 15px, $color_blue);
}

input::-webkit-input-placeholder {
    @include font('Circular Std', normal, 450, 12px, 15px, $color_DFE2E4);
}