@import "@variables/variables.scss";

button {
    padding: 0;
    border: none;
    background-color: #FFFFFF;
}

.menu {
    display: flex;
    position: absolute;
    bottom: 16px;
    height: 15px;
    width: $app_width;
}

.menu__all {
    text-align: center;
    vertical-align: middle;
    height: 18px;
    width: 50px;
    &_close {
        @include font('Circular Std', normal, 500, 14px, 18px, $color_6C757D);
    }
    &_open {
        border-bottom: 3px solid $color_blue;
        @include font('Circular Std', normal, 500, 14px, 18px, $color_blue);
    }
}

.menu__gainer {
    text-align: center;
    vertical-align: middle;
    height: 18px;
    width: 50px;
    margin-left: 17px;
    &_close {
        @include font('Circular Std', normal, 500, 14px, 18px, $color_6C757D);
    }
    &_open {
        border-bottom: 3px solid $color_blue;
        @include font('Circular Std', normal, 500, 14px, 18px, $color_blue);
    }
}

.menu__loser {
    text-align: center;
    vertical-align: middle;
    height: 18px;
    width: 50px;
    margin-left: 17px;
    &_close {
        @include font('Circular Std', normal, 500, 14px, 18px, $color_6C757D);
    }
    &_open {
        border-bottom: 3px solid $color_blue;
        @include font('Circular Std', normal, 500, 14px, 18px, $color_blue);
    }
}

.menu__favourites {
    text-align: center;
    vertical-align: middle;
    height: 18px;
    width: 70px;
    margin-left: 17px;
    &_close {
        @include font('Circular Std', normal, 500, 14px, 18px, $color_6C757D);
    }
    &_open {
        border-bottom: 3px solid $color_blue;
        @include font('Circular Std', normal, 500, 14px, 18px, $color_blue);
    }
}