@import "@variables/variables.scss";

.header_input-close {
    position: fixed;
    width: $app_width;
    height: $coin_container_margin_close;
    max-height: $header_container_max_height;
    z-index: 1;
    background-color: $backgroung_color_default;
}

.header_input-open {
    position: fixed;
    width: $app_width;
    height: $coin_container_margin_open;
    max-height: $header_container_max_height;
    z-index: 1;
    background-color: $backgroung_color_default;
}