@import "variables/variables.scss";

a {
    text-decoration:none;
}

.coin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$color_white;;
    width: $coin_item_width;
    height: $coin_item_height;
    border-radius: $coin_item_border_radius;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.coin:hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$color_white;;
    width: $coin_item_width;
    height: $coin_item_height;
    border-radius: $coin_item_border_radius;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px $color_blue;
    transition-duration: 0.3s;
}

.image {
    padding: 16px 12px 16px 16px;
}

.image__content {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.coin__symbol {
    @include font('Circular Std', normal, 450, 12px, 15px, $color_6C757D);
    padding-right: 10px;
}

.coin__name {
    @include font('Circular Std', normal, 450, 16px, 20px, $color_212529);
}

.coin-info__container {
    width: $coin_info_container
}