@import "../src/variables/variables.scss";

.coin__container_input_close {
    position: absolute;
    width: $app_width;
    margin: auto;
    background-color: $backgroung_color_default;
    top: $coin_container_margin_close;
}

.coin__container_input_open {
    position: absolute;
    width: $app_width;
    margin: auto;
    background-color: $backgroung_color_default;
    top: $coin_container_margin_open;
}

.app__container_input_close {
    position: relative;
    width: $app_width;
    height: $app_container_input_close;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $backgroung_color_default;
}

.app__container_input_open {
    position: relative;
    width: $app_width;
    height: $app_container_input_open;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $backgroung_color_default;
}

.app__container_input_close::-webkit-scrollbar {
    width: 0;
}

.app__container_input_open::-webkit-scrollbar {
    width: 0;
}