@import "@variables/variables.scss";

.filter__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $filter_button_width;
    min-height: $filter_button_min_height;
    background: $backgroung_color_default;
    border: 0.5px solid $color_DFE2E4;
    &_close {
        border-radius: 12px;
    }
    &_open {
        border-radius: 12px 12px 0px 0px;
    }
}

.button__opener_open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid $color_6C757D;
    margin-right: 6px;
}

.button__opener_close {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $color_6C757D;
    margin-right: 6px;
}

.button__description {
    vertical-align: middle;
    padding-left: 6px;
    @include font('Circular Std', normal, 450, 12px, 15px, $color_6C757D);
}

.filter__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: $coin_item_width;
    top: 141px;
    padding-left: 16px;
    padding-right: 16px;
}

.filter__list__container {
    display: flex;
    flex-direction: column;
    width: $filter_button_width;
    border: 0.5px solid $color_DFE2E4;
    border-radius: 12px;
    background: $backgroung_color_default;
    &_open {
        max-height: 117.4px;
    }
    &_close {
        max-height: $filter_button_min_height;
    }
}

.item__list__container {
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0px 0px 12px 12px;
    z-index: 2;
}

.item__list__container::-webkit-scrollbar {
    width: 0;
}

.coins__inscription {
    @include font('Circular Std', normal, 500, 18px, 23px, $color_black);
}