@import "@variables/variables.scss";

.coin-list_input {
   &::-webkit-scrollbar {
     width: 0;
   }

   &-close {
        width: $app_width;
        position: absolute;
        margin: auto;
        top: $coin_container_margin_close;
        background-color: $backgroung_color_default;
    }

   &-open {
        width: $app_width;
        position: absolute;
        margin: auto;
        top: $coin_container_margin_open;
        background-color: $backgroung_color_default;
   }
}