@import "@variables/variables.scss";

a {
    text-decoration:none;
}

.coin {
    display: flex;
    align-items: center;
    background-color:$color_white;;
    width: $coin_item_width;
    height: $coin_item_height;
    border-radius: $coin_item_border_radius;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.image {
    padding: 16px 12px 16px 16px;
}

.image__content {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.coin-info__symbol {
    @include font('Circular Std', normal, 450, 12px, 15px, $color_6C757D);
}

.coin-info__name {
    @include font('Circular Std', normal, 450, 16px, 20px, $color_212529);
}

.coin-info {
    width: $coin_info_container
}

.graph {
    font: inherit;
    width: 50px;
    height: 25px;
    color: black;
}

.coin-price__price {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    @include font('Circular Std', normal, 450, 16px, 20px, $color_343A40);
}

.coin-price {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 16px;
    width: $coin_price_container_width;
}

.coin-price__change {
    display: flex;
    justify-content: flex-end;
    &_gainer {
        @include font('Circular Std', normal, 500, 10px, 13px, $color_green);
    }
    &_loser {
        @include font('Circular Std', normal, 500, 10px, 13px, $color_red);
    }
}